.searchComponent{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display:flex;
}

.inputSearch{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    border: 2px solid #3e6cff;
    padding: 10px 20px;
    outline: none;
    color: #3e6cff;
    border-radius: 25px;
    transition: 0.45s;
    width: 160px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3e6cff;
    opacity: 1; /* Firefox */
  }

.buttonInput{
    border: 0;
    background: #3e6cff;
    display: block;
    margin: 20px auto;
    border: 2px solid #3e6cff;
    padding: 10px 3px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.45s;
    cursor: pointer;
    width: 90px;
}
.buttonInput:hover {
    background: green;
  }