@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
ul li {
    text-align: center;
    list-style: none;
    padding: 15px 10px;
}

/* .btnPaginado{
    text-align: center;
    padding: 5%;
    margin-top: 75%;
} */